/* Variables */
:root {
    --primary-color: #e60000;
    --secondary-color: #fdf1d7;
    --tertiary-color: #f8e7c3e9;

    --muted-color: #7f7f7f;
    --dark-color: #1e1c39;
    --darkest-color: #233239;

    --cart-box-width: 140px;
    --container-max-width: 1200px;
    --prod-description-width: 360px
}

/* Resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    letter-spacing: 0.3px;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.4;
    position: relative;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

hr {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Layout */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 8px 0;
    background: var(--darkest-color);
    box-shadow: 2px 4px 15px -3px #00000069;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items .nav-title {
    width: calc(100% - var(--cart-box-width));
    margin-left: var(--cart-box-width);
}

.wrapper {
    padding: 30px 0;
}

@media (min-width: 992px) {
    .wrapper {
        padding: 50px 0;
    }
}

.container {
    max-width: var(--container-max-width);
    padding: 0 15px;
    margin: 0 auto;
}


/* Helpers */
.position-relative {
    position: relative;
}

.z-2 {
    z-index: 2;
}


.w-100 {
    width: 100%;
}

.mx-auto {
    margin: 0 auto;
}

.my-auto {
    margin: auto 0;
}

.mw-400 {
    max-width: 400px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 16px;
}


.fs-13 {
    font-size: 13px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.fc-white {
    color: #fff;
}

/* Objects */
.btn {
    display: inline-block;
    border-radius: 8px;
    text-align: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.3px;

    white-space: nowrap;

    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.btn.btn-main {
    padding: 18px 28px;
}

.btn.btn-checkout {
    padding: 12px 28px;
}

.btn.color-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn.color-primary:hover {
    background-color: #d40909;
}

.divider {
    margin: 12px 0;
    border-color: #edecf0;
}

.divider.lg {
    border-top: 3px solid #edecf0;
}

/* Elements */
.cart-btn {
    position: relative;

    display: flex;
    align-items: center;
    gap: 6px;
    width: var(--cart-box-width);

    padding: 8px 12px;
    border-radius: 8px;
    background: #ffffff08;
    border: 1px solid #ffffff10;

    line-height: 1;
    white-space: nowrap;

    cursor: pointer;
    transition: background-color 0.12s ease-in-out;
}

.cart-btn:hover {
    background: #ffffff20;
}

.cart-btn .prod-count-badge {
    position: absolute;
    bottom: -2px;
    left: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;

    background: var(--primary-color);
    border-radius: 50%;

    font-size: 13px;
    line-height: 1;
}

.cart-description {
    position: fixed;
    top: 63px;
    right: 16px;
    z-index: 4;

    min-width: 300px;
    background: #fff;
    padding: 14px;
    border-radius: 4px;
    box-shadow: 0 1px 12px -2px #00000034;

    font-size: 13px;
    font-family: 300;
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .cart-description {
        right: calc(((100vw - var(--container-max-width)) / 2) + 9px);
    }
}

.cart-description .triangle {
    position: absolute;
    top: -15px;
    right: calc(var(--cart-box-width) - 43px);

    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}

.cart-description .title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 12px;
}

.cart-description .products-table {
    width: 100%;
    text-align: right;
}

.cart-description th:first-child {
    text-align: left;
}

.cart-description td:first-child {
    text-align: left;
}

.cart-description td {
    color: var(--muted-color);
}

.cart-description .total {
    display: flex;
    justify-content: space-between;
}


.page-title {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 24px;
    color: var(--dark-color);
}

@media (min-width: 992px) {
    .page-title {
        font-size: 58px;
        margin-bottom: 48px;
    }
}

.cloud-bg-img {
    position: absolute;
    left: 0;
    top: -400px;
    z-index: 1;
    width: 100%;
}


.product-card {
    position: relative;
    width: 100%;

    padding: 20px 24px;
    background: #fcfcfc;

    border: 1px solid #f2f2f2;
    border-radius: 16px;
}

.product-card .product-info {
    color: var(--dark-color);
    line-height: 1;
}

.product-card .product-info .image {
    width: 100%;
    height: 200px;

    padding: 10px;

    object-fit: contain;
    object-position: center;
}

.product-card .product-info .description-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.product-card .product-info .name {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 400;

    margin-bottom: 8px;
}

.product-card .product-info .price {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 12px;
}


.tooltip-icon {
    cursor: pointer;
}

.tooltip-path {
    transition: fill 0.3s ease;
}

.product-card .product-info .description-btn:hover .tooltip-path {
    fill: var(--primary-color);
}

.product-card .product-description {
    position: absolute;
    top: 15px;
    right: calc((var(--prod-description-width) * -1) + 8px);
    z-index: 4;

    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 12px;

    width: var(--prod-description-width);
    padding: 16px 12px;
    background: var(--tertiary-color);
    border-radius: 6px;

    font-size: 13px;
    font-weight: 300;
    color: var(--muted-color);

}

.product-card .product-description.float-left {
    right: 58px;
}

.product-card .product-description .title {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
}

.product-card .product-description .prod-desc-img {
    width: calc(var(--prod-description-width) *0.25);
}

.product-card .product-description .description-table {
    width: 100%;
    border-spacing: 3px;
}

.product-card .product-description .description-table td:first-child {
    white-space: nowrap;
}